In [5]:
import pandas as pd
import quandl 

import yahoo_finance

import lxml

stock = quandl.get("EOD/V", authtoken="vK2ufD2WDh6SdehGupm7")
stock.head()

,Open,High,Low,Close,Volume,Dividend,Split,Adj_Open,Adj_High,Adj_Low,Adj_Close,Adj_Volume
Date,,,,,,,,,,,,
2008-03-19,59.50,69.00,55.00,56.50,177121500.0,0.0,1.0,13.854130,16.066134,12.806338,13.155602,708486000.0
2008-03-20,58.47,65.00,57.50,64.35,49746300.0,0.0,1.0,13.614302,15.134764,13.388445,14.983416,198985200.0
2008-03-24,67.24,67.70,59.00,59.73,37391600.0,0.0,1.0,15.656331,15.763438,13.737708,13.907683,149566400.0
2008-03-25,60.63,64.25,59.82,63.25,21773000.0,0.0,1.0,14.117242,14.960132,13.928639,14.727289,87092000.0
2008-03-26,62.50,64.48,61.57,63.96,10777900.0,0.0,1.0,14.552657,15.013685,14.336114,14.892607,43111600.0

In [7]:
stock["Close"][0] + stock["Close"][2]

116.22999999999999

In [3]:
open = stock["Open"]
close = stock["Close"]
low = stock["Low"]
high = stock["High"]

ibs = (close - low)/(high - low)
ibs.head()

Date
2008-03-19    0.107143
2008-03-20    0.913333
2008-03-24    0.083908
2008-03-25    0.774266
2008-03-26    0.821306
dtype: float64

In [4]:
ibs.tail

<bound method NDFrame.tail of Date
2008-03-19    0.107143
2008-03-20    0.913333
2008-03-24    0.083908
2008-03-25    0.774266
2008-03-26    0.821306
2008-03-27    0.124402
2008-03-28    0.468750
2008-03-31    0.216783
2008-04-01    0.385757
2008-04-02    1.000000
2008-04-03    0.823266
2008-04-04    0.464968
2008-04-07    0.573034
2008-04-08    0.956268
2008-04-09    0.057878
2008-04-10    0.617284
2008-04-11    0.565789
2008-04-14    0.087719
2008-04-15    0.137255
2008-04-16    0.661088
2008-04-17    0.591954
2008-04-18    0.554358
2008-04-21    0.580822
2008-04-22    0.116667
2008-04-23    0.194030
2008-04-24    0.766102
2008-04-25    0.548387
2008-04-28    0.305439
2008-04-29    1.000000
2008-04-30    0.636364
                ...
2018-01-04    0.037594
2018-01-05    0.945736
2018-01-08    0.527628
2018-01-09    0.343511
2018-01-10    0.955975
2018-01-11    0.892308
2018-01-12    0.593750
2018-01-16    0.236453
2018-01-17    0.874126
2018-01-18    0.927039
2018-01-19    0.450867
2018-01-22    1.000000
2018-01-23    0.338462
2018-01-24    0.482759
2018-01-25    0.702381
2018-01-26    0.962963
2018-01-29    0.070615
2018-01-30    0.489655
2018-01-31    0.826389
2018-02-01    0.750000
2018-02-02    0.069536
2018-02-05    0.205882
2018-02-06    0.953191
2018-02-07    0.135385
2018-02-08    0.050955
2018-02-09    0.856217
2018-02-12    0.811224
2018-02-13    0.730523
2018-02-14    0.965217
2018-02-15    0.987179
Length: 2497, dtype: float64>

In [10]:
from yahoo_finance import Share
VMAX = Share('YHOO')
print(VMAX.get_price())

YQLResponseMalformedError: Response malformed.

In [11]:
from lxml import html
import requests
future = requests.get('https://www.bloomberg.com/quote/VMAX:US')
f_tree = html.fromstring(future.content)
f_data = f_tree.xpath('//*[@id="content"]/div/div[1]/div[8]/div/div/div[4]/div[2]/text()')
print(float(f_data[0]))

20.95